body {

  background-color: aqua;
  margin: 0;
  padding: 0;
}
 .page {
 text-align: center;
}
 .content {
 background-color: Aqua;

 margin: 0 auto;
 width:720px ;
 
 }
  img {
  width:400px;
  text-align:center;
 
  
 }
  h1 {
   display:flex;
  justify-content:center;
 }
 
 #h3{
  text-align:center;
 }

h3{
  text-align:center;
 border:2px solid purple;

}
p{
 text-align:center;
}

body{
  text-align:center;
}
#plane{
 width:200px;
}

#pull{
 width:300px;
}

#push{
 width:300px;
}

#div{
 width:200px;
 }

#pepe{
 width:200px;
}

#hey{
 width:200px;
}

#w{
 width:400px;
}